
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .full-calendar {
    height: 100%;
    color: #000; 
  }
  
  .full-calendar .fc-scrollgrid {
    border: none;
  }
  
  .full-calendar .fc-theme-standard thead tr th {
    border-left: none;
    border-right: none;
  }
  
  .full-calendar .fc-theme-standard td,
  .full-calendar .fc-theme-standard th {
    border-color: #ddd; 
  }
  
  .full-calendar .fc th {
    text-align: center;
  }
  
  .full-calendar .fc-col-header-cell-cushion {
    font-size: 14px; /* Use the actual font size you want */
    font-weight: 500; /* Use the actual font weight you want */
    color: #adb5bd; /* Replace with your color */
  }
  
  .full-calendar .fc-daygrid-day-number {
    color: #adb5bd; /* Replace with your color */
    font-size: 14px; /* Use the actual font size you want */
    font-weight: 300; /* Use the actual font weight you want */
    width: 100%;
    text-align: center;
  }
  
  .full-calendar .fc-scrollgrid-section.fc-scrollgrid-section-header > td {
    border: none;
  }
  
  .full-calendar .fc-scrollgrid-section.fc-scrollgrid-section-body.fc-scrollgrid-section-liquid > td {
    border: none;
  }
  
  .full-calendar .fc-scrollgrid-sync-table {
    height: auto !important;
  }
  
  .full-calendar .fc-view-harness-active > .fc-view {
    position: static;
    height: 100%;
  }
  
  .full-calendar .fc-scroller-liquid-absolute {
    position: static;
  }
  
  .full-calendar .fc-daygrid-event {
    margin: 8px 16px; /* Use the actual margins you want */
    border: none;
    border-radius: 5.6px;
    font-size: 14px; /* Use the actual font size you want */
    font-weight: 500; /* Use the actual font weight you want */
  }
  
  .full-calendar .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 32px; /* Use the actual min height you want */
  }
  
  .full-calendar .fc-event-title {
    font-size: 12px !important; /* Use the actual font size you want */
    font-weight: 400 !important; /* Use the actual font weight you want */
    padding: 8px 48px 12px !important; /* Use the actual padding you want */
  }
  
  .full-calendar .fc-button,
  .full-calendar .fc-today-button,
  .full-calendar .fc-button:disabled {
    background-color: #1A73E8 !important; /* Replace with your color */
    border-color: #ddd !important; /* Replace with your color */
    font-size: 14px !important; /* Use the actual font size you want */
    box-shadow: 8px !important; /* Use the actual box shadow you want */
    opacity: 1 !important;
    transition: all 150ms ease-in;
  }
  
  .full-calendar .fc-button:hover,
  .full-calendar .fc-button:focus,
  .full-calendar .fc-button:active,
  .full-calendar .fc-today-button:hover,
  .full-calendar .fc-today-button:focus,
  .full-calendar .fc-today-button:active,
  .full-calendar .fc-button:disabled:hover,
  .full-calendar .fc-button:disabled:focus,
  .full-calendar .fc-button:disabled:active {
    transform: scale(1.02);
    box-shadow: 8px !important; /* Use the actual box shadow you want */
    background-color: #1A73E8 !important; /* Replace with your color */
    border-color: #ddd !important; /* Replace with your color */
  }
  
  .full-calendar .fc-button .fc-icon {
    font-size: 14px;
  }
  
  .full-calendar .fc-toolbar-title {
    font-size: 20px !important; /* Use the actual font size you want */
    font-weight: 700 !important; /* Use the actual font weight you want */
    color: #344767; /* Replace with your color */
  }
  
  /* Customize event classes */
  .event-primary {
    background-image: linear-gradient(195deg, #EC407A, #D81B60); 
    color: #fff; /* Replace with your color */
  }

  /* Customize event classes */

/* Event class .event-secondary */
.event-secondary {
    background-image: linear-gradient(195deg, #747b8a, #495361);
    color: #fff; /* Replace with your color */
  }
  
  /* Event class .event-info */
  .event-info {
    background-image: linear-gradient(195deg, #49a3f1, #1A73E8);
    color: #fff; /* Replace with your color */
  }
  
  /* Event class .event-success */
  .event-success {
    background-image: linear-gradient(195deg, #66BB6A, #43A047);
    color: #fff; /* Replace with your color */
  }
  
  /* Event class .event-warning */
  .event-warning {
    background-image: linear-gradient(195deg, #FFA726, #FB8C00);
    color: #fff; /* Replace with your color */
  }
  
  /* Event class .event-error */
  .event-error {
    background-image: linear-gradient(195deg, #EF5350, #E53935);
    color: #fff; /* Replace with your color */
  }
  
  /* Event class .event-light */
  .event-light {
    background-image: linear-gradient(195deg, #EBEFF4, #CED4DA);
    color: #000; /* Replace with your color */
  }
  
  /* Event class .event-dark */
  .event-dark {
    background-image: linear-gradient(195deg, #42424a, #191919);
    color: #fff; /* Replace with your color */
  }
  
  